* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Red Hat Display;
}
body {
  width: 100%;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url(images/pattern-background-desktop.svg);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}
.background img {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
}
.card {
  width: 21.7em;
  height: 33.5em;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  z-index: 1;
}
.image img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.content {
  padding: 2.3em;
}
.summary h1 {
  font-weight: 900;
  font-size: 1.4rem;
  text-align: center;
  color: hsl(223, 47%, 23%);
}
.summary p {
  margin-top: 0.9em;
  text-align: center;
  color: hsl(224, 23%, 55%);
  font-size: 0.8rem;
  line-height: 1.5em;
}
.plan {
  height: 4.5em;
  background-color: hsl(225, 100%, 98%);
  padding: 1.1em;
  display: flex;
  border-radius: 10px;
  margin-top: 1em;
  align-items: center;
}
.plan img {
  width: 2.2em;
  height: 2.2em;
  margin-right: 1em;
}
.plan .anual-plan {
  width: 7em;
}
.anual-plan h4 {
  color: hsl(223, 47%, 23%);
  font-size: 0.78rem;
  font-weight: 900;
}
.plan p {
  color: hsl(224, 23%, 55%);
  font-size: 0.8rem;
  margin-top: .2em;
}
.plan a {
  margin-left: 6.5em;
  font-size: 0.7rem;
  color: hsl(245, 75%, 52%);
  font-weight: 900;
}
.plan a:active {
  color: hsl(245, 64%, 60%);
  cursor: pointer;
  text-decoration: none;
}
.payment-btn {
  height: 2.3em;
  margin-top: 1.6em;
  background-color: hsl(245, 75%, 52%);
  border-radius: 8px;
  display: flex;
  box-shadow: 0px 10px 5px hsl(225, 100%, 94%);
}
.payment-btn:active {
  background-color: hsl(245, 64%, 60%);
  cursor: pointer;
}
.payment-btn a {
  color: white;
  margin: auto;
  text-decoration: none;
  font-size: 0.7rem;
  font-weight: 700;
}
.cancel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancel a {
  margin-top: 1.5em;
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-size: 0.78rem;
  font-weight: 900;
}
.cancel a:active {
  color: hsl(223, 47%, 23%);
}
@media (max-width: 375px){
  .container {
    background-image: url(images/pattern-background-mobile.svg);
  }
}